<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorPersona</servlet-name>
        <servlet-class>Controlador.ControladorPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIniciosesion</servlet-name>
        <servlet-class>Controlador.ControladorIniciosesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPaciente</servlet-name>
        <servlet-class>Controlador.ControladorPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMedicamento</servlet-name>
        <servlet-class>Controlador.ControladorMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFamiliar</servlet-name>
        <servlet-class>Controlador.ControladorFamiliar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorPersona</servlet-name>
        <url-pattern>/ControladorPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIniciosesion</servlet-name>
        <url-pattern>/ControladorIniciosesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPaciente</servlet-name>
        <url-pattern>/ControladorPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMedicamento</servlet-name>
        <url-pattern>/ControladorMedicamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFamiliar</servlet-name>
        <url-pattern>/ControladorFamiliar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
